COINGECKO_PRO_API_KEY=your_pro_key_here
COINGECKO_API_KEY=your_free_key_here
NEWS_API_KEY=your_newsdata_key_here
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
GITHUB_ID=your_github_id
GITHUB_SECRET=your_github_secret